@charset "UTF-8";
@font-face {
  font-family: Roboto;
  src: url("/home/sunling/Документы/github/nerds/fonts/Roboto-Medium.ttf") format("truetype");
}
.container {
  width: 1160px;
  margin: 0 auto;
}

.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 240px;
  display: block;
  background-color: #fb565a;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 0;
  border-radius: 3px;
}

.btn-green {
  background-color: #00ca74;
}

.btn-yellow {
  background-color: #efc84a;
}

html,
body {
  font-family: Roboto, serif;
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 85px;
  margin-top: 50px;
}
header .main-logo {
  margin-right: 202px;
  float: left;
}
header nav li {
  display: block;
  float: left;
  margin-right: 47px;
}
header nav .user-cart {
  float: right;
}

.slider h1 {
  font-size: 55px;
  font-weight: 500;
}
.slider .left-slider {
  float: left;
  width: 376px;
}
.slider .right-slider {
  float: right;
}
.slider .slider2,
.slider .slider3 {
  display: none;
}

main .advantages {
  margin-right: 80px;
  float: left;
  display: block;
  width: 300px;
}
main .advantages a {
  width: 160px;
}
main .studio {
  width: 650px;
  float: left;
}
main .statistic {
  width: 400px;
  float: right;
}
main .statistic section {
  display: inline-block;
  width: 100px;
  padding-right: 26px;
}
main .statistic section b {
  font-size: 45px;
}
main .statistic section b span {
  font-size: 22px;
  vertical-align: super;
}
main .partners {
  text-align: center;
}

footer .soc div {
  float: left;
  width: 79px;
  height: 79px;
  border-radius: 100%;
  margin-left: 12px;
}
footer .soc .vk {
  background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/vk-icon.png") center no-repeat;
}
footer .soc .fb {
  background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/fb-icon.png") center no-repeat;
}
footer .soc .inst {
  background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/insta-icon.png") center no-repeat;
}
