.container {
  width: 1160px;
  margin: 0 auto;
}

.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

html,
body {
  margin: 0;
  padding: 0;
}

header .main-logo {
  float: left;
}
header nav li {
  display: block;
  float: left;
}
header nav .user-cart {
  float: right;
}

.slider .slider2,
.slider .slider3 {
  display: none;
}

main .advantages {
  margin-right: 80px;
  float: left;
  display: block;
  width: 300px;
}
main .studio {
  width: 650px;
  float: left;
}
main .statistic {
  width: 360px;
  float: right;
}
main .statistic section b {
  font-size: 45px;
}
main .statistic section b span {
  font-size: 22px;
  vertical-align: super;
}
main .partners {
  text-align: center;
}
