@font-face{
  font-family: Roboto;
  src:
    url('/home/sunling/Документы/github/nerds/fonts/Roboto-Medium.ttf') format("truetype");
}

.container{
  width: 1160px;
  margin: 0 auto;
}

.clearfix::before{
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;
  color: black;
}

.btn{
  font-family: Roboto, serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  width: 240px;
  display: block;
  background-color: #fb565a;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 0;
  border-radius: 3px;
}

.btn-green{
  background-color: #00ca74;
}

.btn-yellow{
  background-color: #efc84a;
}

html,
body{
  font-family: Roboto, serif;
  margin: 0;
  padding: 0;

}

header{
  margin-bottom: 85px;
  margin-top: 50px;

  .main-logo{
    margin-right: 202px;
    float: left;
  }
  nav{


    li{
      display: block;
      float: left;
      margin-right: 47px;
    }
    .user-cart{
      float: right;
    }
  }
}

.slider{
  h1{
    font-size: 55px;
    font-weight: 500;
  }
  .left-slider{
    float: left;
    width: 376px;
  }
  .right-slider{
    float: right;
  }


  .slider2,
  .slider3{
    display: none;
  }
}

main{

  .advantages{
    margin-right: 80px;
    float: left;
    display: block;
    width: 300px;

    a{
      width: 160px;
    }


  }

  .studio{
    width: 650px;
    float: left;
  }

  .statistic{
    width: 400px;
    float: right;

    section{
      display: inline-block;
      width: 100px;
      padding-right: 26px;



      b{
        font-size: 45px;
        span{
          font-size: 22px;
          vertical-align: super;
        }
      }
    }
  }

  .partners{
    text-align: center;
  }
}

footer{
  .soc{
    div{
      float: left;
      width: 79px;
      height: 79px;
      border-radius: 100%;
      margin-left: 12px;
    }
    .vk{
      background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/vk-icon.png") center no-repeat;
    }
    .fb{
      background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/fb-icon.png") center no-repeat;
    }
    .inst{
      background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/insta-icon.png") center no-repeat;

    }
  }
}
