@font-face{
  font-family: Roboto;
  src:
    url('/home/sunling/Документы/github/nerds/fonts/Roboto-Medium.ttf') format("truetype");
}

.container{
  width: 1160px;
  margin: 0 auto;
}

.clearfix::before{
  content: "";
  display: table;
  clear: both;
}

html,
body{
  font-family: Roboto, serif;
  margin: 0;
  padding: 0;
}

header{

  .main-logo{
    float: left;
  }
  nav{
    li{
      display: block;
      float: left;
    }
    .user-cart{
      float: right;
    }
  }
}

.slider{
  .left-slider{
    float: left;
    width: 376px;
  }
  .right-slider{
    float: right;
  }


  .slider2,
  .slider3{
    display: none;
  }
}

main{

  .advantages{
    margin-right: 80px;
    float: left;
    display: block;
    width: 300px;
  }

  .studio{
    width: 650px;
    float: left;
  }

  .statistic{
    width: 400px;
    float: right;

    section{
      display: inline-block;
      width: 100px;
      padding-right: 26px;

      b{
        font-size: 45px;
        span{
          font-size: 22px;
          vertical-align: super;
        }
      }
    }
  }

  .partners{
    text-align: center;
  }
}

footer{
  .soc{
    div{
      float: left;
      width: 79px;
      height: 79px;
      border-radius: 100%;
      margin-left: 12px;
    }
    .vk{
      background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/vk-icon.png") center no-repeat;
    }
    .fb{
      background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/fb-icon.png") center no-repeat;
    }
    .inst{
      background: #e1e1e1 url("/home/sunling/Документы/github/nerds/img/insta-icon.png") center no-repeat;

    }
  }
}
